html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
    //border-width: medium;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/pic/marvel2.png');
  //margin: 0;
}

